<!DOCTYPE html>
<html lang="en">
{% from "util.html" import render_message %}
<head>
    <meta charset="UTF-8">
    <title>Slack Export - #{{ name }}</title>
    {% if not no_external_references %}
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='viewer.css') }}">
    {% endif %}
</head>
<body>
<div id="slack-archive-viewer">
    {% if not no_sidebar %}
    <div id="sidebar">
        <h3 id="channel-title">Search</h3>
        <ul class="list">
            <li>
                <form action="/search">
                    <input type="textbox" name="search">
                    <input type="submit" value="Search">
                </form>
            </li>
        </ul>
        <h3 id="channel-title">Public Channels</h3>
        <ul class="list" id="channel-list">
            {% for channel in channels %}
                <li class="channel{% if channel == name %} active{% endif %}">
                    <a href="{{ url_for('channel_name', name=channel) }}">
                        # {{ channel }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <h3 id="group-title">Private Channels</h3>
        <ul class="list" id="group-list">
            {% for group in groups %}
                <li class="group{% if group == name %} active{% endif %}">
                    <a href="{{ url_for('group_name', name=group) }}">
                        &#128274; {{ group }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="messages">
        {% if request.path == "/search" %}
            <h1>Results for "{{query}}":</h1>
            {% for channel in messages %}
                {% if messages[channel] | length > 0 %}
                    <h2>Channel #{{channel}}:</h1>
                {% endif %}
                {% for message in messages[channel] %}
                    {{render_message(message, None, no_external_references)}}
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for message in messages %}
                {{render_message(message, None, no_external_references)}}
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>
(function() {
  var sidebar = document.querySelector('#sidebar');
  var selected = document.querySelector('.active');
  sidebar.scrollTop = selected.offsetTop - 200;

  // make dropdown from channel title
  var channel_title = document.querySelector("#channel-title");
  var channel_dropdown = document.querySelector("#channel-list");
  channel_title.addEventListener('click', function() {
    channel_title.classList.toggle('arrow');
    channel_dropdown.classList.toggle('close');
  });

  // make dropdown from group title
  var group_title = document.querySelector("#group-title");
  var group_dropdown = document.querySelector("#group-list");
  group_title.addEventListener('click', function() {
    group_title.classList.toggle('arrow');
    group_dropdown.classList.toggle('close');
  });
})()
</script>
</body>
</html>
